/* first_testimonial */

.image{
   position: relative;
    top: 50px;
    left: 20px;
}
.paragraph_container_first{
  font-family: 'Roboto', sans-serif;
}
.heading{
    
  font-family: 'Raleway', sans-serif;
}
 .carousel {
    --current-slide: 0;
     position: relative;
    overflow: hidden;
    bottom: 40px;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.1s;
  }
  
  .carousel-button:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel-button_next {
   
    right: 0;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s;
    transform: translateX(calc(-100% * var(--current-slide)));
  }
  
  .slide {
    flex: 0 0 100%;
  }


.paragraph_container1{
    margin-left: 120px;
    margin-right:120px;
}



/* second_testimonial */

.second_heading {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    word-spacing: 6px;
    letter-spacing: 2px;
  }

  .second_pargraph_container {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 18px;
    line-height: 1.5;


  }

  .second_image {
    position: relative;
    top: 50px;
    left: 20px;
    width: 80px;
  }



  .slid-main {

    overflow-x: hidden;
    display: flex;
    box-sizing: border-box;
  }

  .item {

    display: inline-block;
    position: relative;

  }

  

  .text {
    width: 380px;

  }

  #currentImage {
    font-weight: 500;
    font-size: 58px;
  }

  #totalImages {
    font-size: 20px;
    color: gray;

  }


  .column1 {
    float: left;
    width: 35%;
    padding-right: 50px;



  }

  .column2 {
    float: left;
    width: 65%;
  }
/*third_testimonial */

.bar_body{
    overflow-x:hidden;
}

  .chart {
      position: absolute;
      transform: rotate(270deg);
      left: 0px;
      top: 530px;
  }

  .column-bars {
      position: absolute;
      top: 0;
      left: 0;

  }

  .row-bars {
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
  }



  .bar_paragraph_container {
      font-family: 'Roboto', sans-serif;
      color: #666666;
      font-size: 18px;
      line-height: 1.5;


  }

  .bar_heading {
     font-family: 'Raleway', sans-serif;
  }

  .bar_sub_heading {
      font-family: 'Roboto', sans-serif;
      color: #999999;
      font-weight: 600;

  }

  .bar_carousel{
      --current-slide: 0;
      position: relative;
      overflow: hidden;
      left:120px;
      overflow-x:hidden;
  }

  .carousel-button_next {
  right: 0;
  }

  .slides {
      display: flex;
      transition: transform 0.5s;
      transform: translateX(calc(-100% * var(--current-slide)));
  }

  .slide {
      flex: 0 0 100%;
  }



  rbars {
      display: block;
      height: 20px;
      margin-top: 20px;
      max-width: 600px;
      padding: 5px;
  }
  .bar_testimonial{
      position: absolute;
      top:90px;
      left:30px;
      font-family: 'Raleway', sans-serif;
      font-size:40px;
      
  }
  /* four_testimonial */
  .four_heading {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    word-spacing: 6px;
    letter-spacing: 2px;
}

.four_pargraph_container {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 18px;
    line-height: 1.5;
}

 


.four_slide-main {

    overflow-x: hidden;
    display: flex;
    box-sizing: border-box;
}

.item {

    display: inline-block;
    position: relative;

}

.four_image {
    position: relative;
    top: 79px;
    z-index: 1;


}

.four_text {
    width: 500px;

}


.slider-item.active .slider-content{
background-color: #ECF2FE;

}

  /* fifth_testimonial */
  
  .fifth_image {
    position: relative;
    bottom: 40px;
}




.five_paragraph_container{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;


}

.five-heading{

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 24px;
}

.five_sub_heading {

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.five_carousel {
    --current-slide: 0;
    position: relative;
    overflow: hidden;
    background-color:blue;
    
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;

    font-size: 1.5rem;
    cursor: pointer;

    transition: color 0.1s;
}

.carousel-button:hover {
    color: rgba(0, 0, 0, 0.5);
}

.carousel-button_next {

    right: 0;
}

.slides {
    display: flex;
    transition: transform 0.5s;
    transform: translateX(calc(-100% * var(--current-slide)));
}

.five-slide {
    flex: 0 0 100%;
    padding-left: 150px;
    padding-right: 120px;
    margin-top: 30px;
}


/* sixth_testimonial */

.sixth_image {
  position: relative;
  left: 464px;
  width: 80px;
  background-color: #90ACF7;
  bottom: 64px;
}

.sixth_heading {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  font-size: 48px;
}

.sixth_sub-heading {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #333333;
}

.sixth_paragraph_container {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.six_bar_carousel {
  --current-slide: 0;
  position: relative;
  overflow: hidden;

  overflow-x: hidden;
}

.btn {
  position: relative;
  bottom: 300px;
  left: 610px;
}

.hello {
  background-color: #ECF2FE
}

.box {
  background: #A0BCF8;

}

@media only screen and (max-width: 1024px) and (min-width:762px) {
  .sixth_image {

      position: relative;
      left: 300px;
  
  }
}

@media only screen and (max-width: 670px) and (min-width:400px) {
  .sixth_image {
      position: relative;
      left: 400px;
   
  }
}

@media only screen and (max-width: 768px) and (min-width:300px) {
  .btn {
  position: none;
  bottom: 0;
  left: 0;
  text-align:center;


}
}
/* seven */

.seven {
  background-color: #ECF2FE;
}

.seven_heading {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #333333;
}

.seven_card_heading {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #333333;
}

.seven_card_paragraph {
  color: #666666;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

}

.seven_name{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333333;
}

.seven_designation {
  color: #666666;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.seven_star {
  margin-right: 8px;
  font-size: 24px;
  color: #547FF3
}

.seven_slider-item {
  background-color: white;
}

.seven_card {
  width: 300px;

}

.seven_active {
  display: none;
  width:240px;
  height:auto;
  background-color:blue;
}

.seven_slide-main{
  overflow-x: hidden;
  display: flex;
 
}

/* eight */

.eight_heading {
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
  word-spacing: 6px;
  letter-spacing: 2px;
}

.eight_name {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;

}

.sub-heading {
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-size: 18px;
}

.four_pargraph_container {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 1.5;
}

.eight_slide-main {
  overflow-x: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;


}

.eight_slider_item {
  position: relative;
  top: 60px;
}

.eight_text {
  width: 600px;
  margin-top: 80px;

}

.eight_slider-item.active {
  position: relative;
  bottom: 90px;


}

.eight_slider-item.active .slider-content {
  background-color: #3371F2;
  color: white;
}

.eight_bottom_image {
  position: relative;
  bottom: 40px;
}

.eight {
  background-color: #ECF2FE;
}

.eight_button {
  position: absolute;
  top: 240px;
  z-index: 1;
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.1s;
}

.eight_next {
  right: 200px;
}

.eight_prev {
  left: 250px;
}

/* media_query */
@media only screen and (max-width: 1300px) and (min-width:1024px) {

  .eight_text {
      width: 550px;
      margin-top: 80px;

  }

  .eight_next {
      right: 100px;
  }

  .eight_prev {
      left: 100px;
  }
}

@media only screen and (max-width: 1024px) and (min-width:968px) {

  .eight_text {
      width: 500px;
      margin-top: 80px;

  }

  .eight_next {
      right: 10px;
  }

  .eight_prev {
      left: 10px;
  }
}
@media only screen and (max-width: 968px) and (min-width:728px) {

.eight_text {
width: 450px;
margin-top: 80px;

}

.eight_next {
right: 10px;
}

.eight_prev {
left: 10px;
}
}
@media only screen and (max-width: 728px) and (min-width:520px) {

.eight_text {
width: 400px;
margin-top: 80px;

}

.eight_next {
right:-10px;
}

.eight_prev {
left: -10px;
}
}
@media only screen and (max-width: 520px) and (min-width:300px) {

.eight_text {
width: 300px;
margin-top: 80px;

}

.eight_next {
right:-40px;
}

.eight_prev {
left: -40px;
}
}



/* eleven */
.eleven_heading {
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
  word-spacing: 6px;
  letter-spacing: 2px;
  
}

.eleven_name {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;

}

.eleven_sub_heading {
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-size: 18px;
}

.eleven_r_header{
  font-family: 'Roboto', sans-serif;
  color:#333333;
  font-size: 14px;
  
}
.eleven_pargraph_container
{
  font-family: 'Roboto', sans-serif;
  color:#666666;
  font-size: 16px;
}

.four_slide-main {

  overflow-x: hidden;
  display: flex;
  box-sizing: border-box;
}

.eleven_item {

  display: inline-block;
  position: relative;

}

.eleven_image {
  position: relative;
  top: 79px;
  z-index: 1;


}

.eleven_text {
  width: 400px;
}

.star {
  margin-right: 8px;
  font-size: 24px;
  color: #547FF3
}
.amazing_heading
{
  font-family: 'Raleway', sans-serif;
  font-size:32px;
  color:#333333;

}
.pic{
 background-color: #A0BCF8;
 height:200px;
}  
.box-line{
  border-color:#3371F2;
}
.eleven_btns{
color:#3371F2;
}

/* tenth_testimonial */
.ten_heading {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #333333;
}

.ten_heading_paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.left_box {
  margin-top: 4rem;
  flex: 0 0 299px;
  background-color: #A0BCF8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  height: 448px;
  width:530px;
}

.right_box {
  padding: 1.5rem;
  height: 400px;
  background-color: #ECF2FE;
  height: 448px;
  width:530px;


}

.btns {
  justify-content: center;
  align-items: center;
  position: relative;
  position: relative;
  left: 115px;
  bottom: 75px;
}

.image {
  position: relative;
  top: 50px;
  left: 20px;
}

.paragraph_container_first {
  font-family: 'Roboto', sans-serif;
}

.heading {

  font-family: 'Raleway', sans-serif;
}

.carousel {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
  bottom: 40px;

}


.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
  flex: 0 0 100%;
}



.left_heading {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  color: white;
}

.left_pargraph_container {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  text-align: justify;
}

.right_paragraph_container {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
  text-align: center;
}

.ten_name {
  font-family: 'Raleway', sans-serif;
  color: #3371F2;
  font-size: 16px;
  text-align: center;
}

.ten_sub-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
  text-align: center;
}

.ten_image {
  width: 100px;
  height: 100px;
}


@media screen and (max-width: 1300px) and (min-width:1024px) {
  .left_box {
      width: 400px;
  }

  .right_box {
      width: 400px;
  }
}

@media screen and (max-width:1024px) and (min-width:768px) {
  .left_box {
      width: 350px;

  }

  .right_box {
      width: 350px;

  }
 

}

@media screen and (max-width:768px) and (min-width:520px) {
  .left_box {
      width: 250px;

  }

  .right_box {
      width: 250px;

  }
}
  @media screen and (max-width:520px) and (min-width:300px) {
  .left_box {
      width: 170px;

  }

  .right_box {
      width: 170px;

  }
  .right_paragraph_container {
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
      line-height: 1.5;
  }
  .ten_name {
      font-family: 'Raleway', sans-serif;
      color: #3371F2;
      font-size: 10px;
      text-align: center;

  }
  .ten_sub-heading {
      font-family: 'Roboto', sans-serif;
      font-size: 9px;
      line-height: 1.5;
      color: #666666;
      text-align: center;
  }
  .left_pargraph_container {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  color: white;
  text-align: justify;
}
  }
  /* tweleve_testimonial */
  
  /* .twelve_heading {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #333333;
  }
  
  .twelve_heading_paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  
  .twelve_left_box {
  
    flex: 0 0 299px;
    background-color: #A0BCF8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5rem;
    height: 448px;
    width:630px;
  }
  
  .twelve_right_box {
    padding: 1.5rem;
    height: 400px;
    background-color: #ECF2FE;
    height: 448px;
    width:430px;
  }
  
  
  .image {
    position: relative;
    top: 50px;
    left: 20px;
  }
  
  .paragraph_container_first {
    font-family: 'Roboto', sans-serif;
  }
  
  .heading {
  
    font-family: 'Raleway', sans-serif;
  }
  
  .carousel {
    --current-slide: 0;
    position: relative;
    overflow: hidden;
    bottom: 40px;
  
  }
  
  
  .slides {
    display: flex;
    transition: transform 0.5s;
    transform: translateX(calc(-100% * var(--current-slide)));
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  
  
  .left_heading {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: white;
  }
  
  .tweleve_left_pargraph_container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: white;
    text-align: justify;
  }
  
  .tweleve_right_paragraph_container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
    text-align: center;
  }
  
  .tweleve_name {
    font-family: 'Raleway', sans-serif;
    color: #3371F2;
    font-size: 16px;
    text-align: center;
  }
  
  .tweleve_sub-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
    text-align: center;
  }
  
  .eleven_image {
    width: 100px;
    height: 100px;
  }
  
  
  @media screen and (max-width: 1300px) and (min-width:1024px) {
    .twelve_left_box {
        width: 460px;
    }
  
    .twelve_right_box{
        width: 380px;
    }
  }
  
  @media screen and (max-width:1024px) and (min-width:768px) {
    .twelve_left_box {
        width: 400px;
  
    }
  
    .twelve_right_box{
        width: 280px;
  
    }
   
  
  }
  
  @media screen and (max-width:768px) and (min-width:595px) {
    .twelve_left_box{
        width: 350px;
  
    }
  
    .twelve_right_box{
        width: 240px;
  
    }
    .tweleve_right_paragraph_container {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        line-height: 1.5;
    }
  }
    @media screen and (max-width:595px) and (min-width:320px) {
     
    .twelve_left_box{
        width: 170px;
  
    }
  
    .twelve_right_box{
        width: 170px;
  
    }
    .tweleve_right_paragraph_container {
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        line-height: 1.5;
    }
    .tweleve_name {
        font-family: 'Raleway', sans-serif;
        color: #3371F2;
        font-size: 10px;
        text-align: center;
  
    }
    .tweleve_sub-heading {
        font-family: 'Roboto', sans-serif;
        font-size: 9px;
        line-height: 1.5;
        color: #666666;
        text-align: center;
    }
    .tweleve_left_pargraph_container {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 1.5;
    color: white;
    text-align: justify;
  }
    } */
    /* tweleve_testimonial */

    .tweleve_containers{
      overflow-x: hidden;
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   .tweleve_heading {
       font-family: 'Raleway', sans-serif;
       font-size: 35px;
       color: #333333;
   }

   .tweleve_heading_paragraph {
       font-family: 'Roboto', sans-serif;
       font-size: 14px;
   }

   .wrapper {
       width: 300%;
       display: flex;
       transition: 1s;
   }

   .card {
       width: 1000%;
       min-height: 100%;
       border-radius: 20px;
       margin-left: 5px;
       margin-right: 5px;


   }
  

   .tweleve_r_paragraph_header {
       font-family: 'Raleway', sans-serif;
       font-size: 35px;
       color: #333333;
   }
   


   .indicators button {
       background: none;
       border: none;
       outline: none;
       width: 15px;
       height: 15px;
       border-radius: 50%;
       cursor: pointer;
       margin-left: 5px;
       background-color: #CCCCCC;
       transition: .5s;
   }

   button.active {
       width: 15px;
       border-radius: 50px;
       background: #3371F2;
   }

   .tweleve_left_box {
       flex: 0 0 299px;
       background-color: #A0BCF8;
       display: flex;
       justify-content: flex-end;
       padding: 1.5rem;
       height: 448px;
       width: 500px;

   }

   .tweleve_right_box {
       padding: 1.5rem;
       height: 400px;
       background-color: #ECF2FE;
       height: 448px;
   
   }

   .tweleve_name {
       font-family: 'Raleway', sans-serif;
       color: #3371F2;
       font-size: 16px;
       text-align: center;
   }

   .tweleve_sub-heading {
       font-family: 'Roboto', sans-serif;
       font-size: 14px;
       line-height: 1.5;
       color: #666666;
       text-align: center;
   }

   .tweleve_right_paragraph_container {
       font-family: 'Roboto', sans-serif;
       font-size: 14px;
       line-height: 1.5;
       color: #666666;
       text-align: center;
   }

   @media screen and (max-width:930px) {
       .tweleve_left_box {
           width: 300px;
       }

       .tweleve_r_paragraph_header {
           font-size: 30px;

       }

       .tweleve_right_paragraph_container {
           font-size: 14px;
       }
   }




/* thirteen_testimonial */
  
.eleven_heading {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #333333;
}

.eleven_heading_paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.thirteen_left_box {

  flex: 0 0 299px;
  background-color: #A0BCF8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  height: 448px;
  width:630px;
}

.thirteen_right_box {
  padding: 1.5rem;
  height: 400px;
  background-color: #ECF2FE;
  height: 448px;
  width:430px;
}


.image {
  position: relative;
  top: 50px;
  left: 20px;
}

.paragraph_container_first {
  font-family: 'Roboto', sans-serif;
}

.heading {

  font-family: 'Raleway', sans-serif;
}

.carousel {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
  bottom: 40px;

}


.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
  flex: 0 0 100%;
}



.left_heading {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  color: white;
}

.left_pargraph_container {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  text-align: justify;
}

.right_paragraph_container {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
  text-align: center;
}

.eleven_name {
  font-family: 'Raleway', sans-serif;
  color: #3371F2;
  font-size: 16px;
  text-align: center;
}

.eleven_sub-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
  text-align: center;
}

.eleven_image {
  width: 100px;
  height: 100px;
}


@media screen and (max-width: 1300px) and (min-width:1024px) {
  .thirteen_left_box {
      width: 460px;
  }

  .thirteen_right_box{
      width: 380px;
  }
}

@media screen and (max-width:1024px) and (min-width:768px) {
  .thirteen_left_box {
      width: 400px;

  }

  .thirteen_right_box{
      width: 280px;

  }
 

}

@media screen and (max-width:768px) and (min-width:595px) {
  .thirteen_left_box {
      width: 350px;

  }

  .thirteen_right_box{
      width: 240px;

  }
  .right_paragraph_container {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      line-height: 1.5;
  }
}
  @media screen and (max-width:595px) and (min-width:320px) {
   
  .thirteen_left_box {
      width: 170px;

  }

  .thirteen_right_box{
      width: 170px;

  }
  .right_paragraph_container {
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
      line-height: 1.5;
  }
  .eleven_name {
      font-family: 'Raleway', sans-serif;
      color: #3371F2;
      font-size: 10px;
      text-align: center;

  }
  .eleven_sub-heading {
      font-family: 'Roboto', sans-serif;
      font-size: 9px;
      line-height: 1.5;
      color: #666666;
      text-align: center;
  }
  .left_pargraph_container {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  color: white;
  text-align: justify;
}
  }

  /* last_testimonial */
  .paragraph_container_last {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 16px;

}


.last_heading {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
}

.last_name_heading {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #3371F2;
}

.last_name_sub_heading {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 16px;

}

.carousel {
    --current-slide: 0;
    position: relative;
    overflow: hidden;
    bottom: 40px;
}

.last_carousel-button {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.1s;

}

.last_carousel-button_next {
    right: 200;
}

.last_carousel-button_prev {
    left: 200;
}


.slides {
    display: flex;
    transition: transform 0.5s;
    transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
    flex: 0 0 100%;
}

@media screen and (max-width:1274px)and (min-width:1024px) {
    .last_heading {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
    }

    .last_carousel-button_next {
        right: 100;
    }

    .last_carousel-button_prev {
        left: 100;
    }
}

@media screen and (max-width:1024px)and (min-width:968px) {
    .last_heading {
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
    }

    .last_carousel-button_next {
        right: 100;
    }

    .last_carousel-button_prev {
        left: 100;
    }

}

@media screen and (max-width:1024px)and (min-width:968px) {
    .last_heading {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
    }

    .last_carousel-button_next {
        right: 100;
    }

    .last_carousel-button_prev{
        left: 100;
    }


}

@media screen and (max-width:968px)and (min-width:520px) {
    .last_heading {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
    }

    .last_carousel-button_next {
        right: 100;
    }

    .last_carousel-button_prev {
        left: 100;
    }


}

@media screen and (max-width:520px)and (min-width:300px) {
    .last_heading {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
    }

    .last_carousel-button_next {
        right: 20;
    }

    .last_carousel-button_prev {
        left: 20;
    }

    .paragraph_container {
        padding-left: 10px;
        padding-right: 10px;
    }


}
